a {
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
    background-color: black;
    cursor: crosshair;
}
canvas{display:block}
h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "cursive";
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
}